<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome!</h1>
    <nav>
        <a href = '/'>Main</a>
    </nav>
    <form method='post' action = '/logout'>
        <button>Logout</button>
    </form>
    <ul>
        <li>Name: <%= user.name %> </li>
        <li>Created At: <%= user.createdAt %></li>
    </ul>

    <div class = "container">
        <% content.forEach(image => { %>
            <div class = "image_container">
                <img src = <%= image.filepath %>>
            </div>
            <div class = "caption_container">
                <ul>
                    <% image.captionObjects.forEach(captionObject => { %>
                        <li> <%= captionObject.caption %> </li>
                    <% }); %>
                </ul>
            </div>
            <form action=<%="/content/images/"+image.id%> method="post">
                <h2>Submit caption</h2>  
                <div class="input-field">
                    <input type="text" name="caption" id="caption" placeholder="Enter caption" required>
                </div>
                <input type="submit" value="Submit">
            </form>
        <% }); %>
    </div>

</body>      
</html>